* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar_main {
  background-color: rgb(241, 218, 83);
}

.navbar_main .nav_heading {
  font-size: 2rem;
}
.navbar_main .nav_heading .heading_span {
  color: crimson;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar_main .navbar-ul .nav-link.active {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.navbar_main .navbar-ul .nav-link.active:hover {
  color: crimson !important;
  transition: 0.5s;
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .navbar_main {
    padding: 5px 80px 5px 75px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .navbar_main {
    padding: 5px 90px 5px 75px;
  }
}
@media screen and (min-width: 1300px) {
  .navbar_main {
    padding: 5px 100px 5px 90px;
  }
}
