* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #projects {
  height: 100vh;
} */
.projects_heading {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.projects_heading::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.projects_heading::after {
  content: "what I done";
  position: absolute;
  bottom: -38px;
  left: 50%;
  font-size: 18px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* @media screen and (max-width: 420px) {
    .projects_heading {
      margin-top: 1300px;
      margin-bottom: 80px;
    }
  }
  @media screen and (max-width: 380px) {
    .projects_heading {
      margin-top: 1400px;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 340px) {
    .projects_heading {
      margin-top: 1500px;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1000px) {
    #projects {
      margin-top: -800px;
    }
  } */
