* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #skills {
  height: 100vh;
} */
.skills_heading {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.skills_heading::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
.skills_heading::after {
  content: "what I know";
  position: absolute;
  bottom: -38px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
.skills_right .bars {
  margin-bottom: 15px;
}
.skills_right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skills_right span {
  font-weight: 500;
  font-size: 18px;
}
.skills_right .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}
.skills_right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills_right .html::before {
  width: 90%;
}
.skills_right .css::before {
  width: 70%;
}
.skills_right .js::before {
  width: 80%;
}
.skills_right .react::before {
  width: 90%;
}
.skills_right .sql::before {
  width: 80%;
}
@media screen and (min-width: 310px) and (max-width: 780px) {
  #skills {
    margin-top: -40px;
  }
  #skills .skills_heading {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  #skills .skills_left {
    width: 100%;
  }
}
/* @media screen and (max-width: 420px) {
    .skills_heading {
      margin-top: 500px;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 380px) {
    .skills_heading {
      margin-top: 870px;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 340px) {
    .skills_heading {
      margin-top: 1200px;
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1000px) {
    #skills {
      margin-top: -800px;
    }
  } */
